---
import { Icon } from "astro-icon";
import { slugify, formatPosts } from "../../utils";
import { getCollection, CollectionEntry } from "astro:content";
import Badge from "../../components/Badge.astro";
import Header from "../../components/Header.astro";
import Article from "../../components/Article.astro";
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  const formatedPosts = formatPosts(posts);

  return formatedPosts.map((post: any) => ({
      params: { slug: post.slug, },
      props: { post }
  }))
}

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { title, description, date, author, draft, tags } = post.data;
const { Content } = await post.render();
---

<Layout {title} {description}>
  <Header className="text-center">
    <h1 class="font-bold font-rubik text-5xl">{title}</h1>
    <div class="md:flex items-center justify-center my-4 gap-6">
    <span class="inline-flex items-center">
      <Icon name="tabler:user" width="20" height="20" />
      <div class="ml-1">
        <Link href={`/authors/${slugify(author.name)}`}>{author.name}</Link>
      </div>
    </span>
    <span class="inline-flex items-center">
      <Icon name="tabler:calendar" width="20" height="20" />
      <div class="ml-1">{date}</div>
    </span>
    <span class="inline-flex items-center">
      <Icon name="tabler:tags" width="20" height="20" />
      {tags.map((tag: string) =>
        <div class="inline-flex ml-2">#{tag}</div>
      )}
    </span>
    <span class="inline-flex">
      { draft && (
      <Badge>DRAFT</Badge>
      ) }
    </span>
    </div>
  </Header>

  <Article className="prose dark:prose-invert prose-headings:font-rubik prose-a:underline-offset-2 hover:prose-a:text-emerald-500 prose-a:decoration-emerald-500 prose-img:border prose-img:border-slate-300 dark:prose-img:border-zinc-700 prose-img:rounded-xl">
    <Content />
  </Article>
</Layout>
