---
// component imports
import { Icon } from "astro-icon";
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/Heading.astro";
import Main from "../../components/Main.astro";
import Badge from "../../components/Badge.astro";
import Link from "../../components/Link.astro";

// utils
import { slugify, formatContent, dateFormat } from "../../utils";

const { category } = Astro.params;

const posts = await getCollection("posts");
const formattedPosts: CollectionEntry<"posts">[] = formatContent(posts);

const allCategories = [
  ...new Set(formattedPosts.map((post) => post.data.category).flat()),
];

const cat = allCategories.filter((item) => slugify(item) === category);

const catPosts = formattedPosts.filter(
  (post) => slugify(post.data.category) === category
);
---

<Layout title={`Posts about ${cat}`} description={`Posts about ${cat}`}>
  <Main>
    <Heading className={'pt-10'}>
      Posts about
      <span class="text-emerald-500">
        {cat}
      </span>
    </Heading>
    {
      catPosts.map((post) => (
      <div class="pt-5">
        <h2 class="font-rubik font-bold text-lg">
          {post.data.title}
          {post.data.draft && (
            <Badge>DRAFT</Badge>
          )}
        </h2>
        <div class="md:flex items-center pt-2 gap-4">
        <div class="inline-flex items-center gap-1">
          <Icon name="tabler:user" class="mb-1" width="16" height="16" />
          <Link href={`/author/${slugify(post.data.author.name)}`}>
            {post.data.author.name}
          </Link>
        </div>
        <div class="inline-flex items-center gap-1">
          <Icon name="tabler:calendar" class="mb-1" width="16" height="16" />
          {dateFormat(post.data.date)}
        </div>
        </div>
        <p class="my-2 text-justify">{post.data.description}</p>
        <Link href={`/posts/${post.slug}`}>Read more...</Link>
      </div>
      ))
    }
  </Main>
</Layout>

