---
import { slugify, formatContent } from "../utils";
import { CollectionEntry, getCollection } from 'astro:content';
import Badge from "../components/Badge.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";

const posts = await getCollection("posts");
const formatedPosts: CollectionEntry<"posts">[] = formatContent(posts, {
  limit: 3
});
---

<Layout
  title={'Blog'}
  description="This is where I share my knowledge of technology"
>
  <Main>
    <Heading className={'pt-10'}>All Posts</Heading>
      { formatedPosts.map((post) => (
      <div class="pt-5">
        <h2 class="font-rubik font-bold text-lg">
          {post.data.title}
          {post.data.draft && (
            <Badge>DRAFT</Badge>
          )}
        </h2>
        <div class="md:flex items-center pt-2 gap-4">
        <div class="inline-flex items-center gap-1">
          <Icon name="tabler:user" class="mb-1" width="16" height="16" />
          <Link href={`/author/${slugify(post.data.author.name)}`}>
            {post.data.author.name}
          </Link>
        </div>
        <div class="inline-flex items-center gap-1">
          <Icon name="tabler:calendar" class="mb-1" width="16" height="16" />
          {post.data.date}
        </div>
        <div class="inline-flex items-center">
          <Link href={`/category/${slugify(post.data.category)}`}>
            {post.data.category}
          </Link>
        </div>
        </div>
        <p class="my-2 text-justify">{post.data.description}</p>
        <Link href={`/posts/${post.slug}`}>Read more...</Link>
      </div>
      ))}
  </Main>

</Layout>


