---
import { slugify, formatContent, dateFormat } from "@/utils";
import { CollectionEntry, getCollection } from 'astro:content';
import Badge from "@components/Badge.astro";
import Heading from "@components/Heading.astro";
import Link from "@components/Link.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";

const posts = await getCollection("posts");
const formatedPosts: CollectionEntry<"posts">[] = formatContent(posts, {
  limit: 3
});
---

<Layout
  title={'My Blog'}
  description="This is where I share my knowledge of technology"
>
  <Main>
    <Heading className={'md:pt-10 pt-20'}>All Posts</Heading>
      { formatedPosts.map((post: any) => (
      <div class="pt-5">
        <h2 class="font-rubik font-bold text-xl">
          {post.data.title}
          {post.data.draft && (
            <Badge>DRAFT</Badge>
          )}
        </h2>
        <div class="flex flex-col items-start justify-start md:flex-row md:gap-2 pt-2">
        <div class="inline-flex gap-1">
          <Icon name="tabler:user" width="20" height="20" />
          <Link href={`/author/${slugify(post.data.author.name)}`}>
            {post.data.author.name}
          </Link>
        </div>
        <div class="inline-flex gap-1">
          <Icon name="tabler:calendar" width="20" height="20" />
          {dateFormat(post.data.date)}
        </div>
        <div>
          Category:
          <Link href={`/category/${slugify(post.data.category)}`}>
            {post.data.category}
          </Link>
        </div>
        </div>
        <p class="my-2 text-justify">{post.data.description}</p>
        <Link href={`/posts/${post.slug}`}>Read more...</Link>
      </div>
      ))}
  </Main>

</Layout>


