---
import { slugify, formatContent } from "@/utils";
import { getCollection, CollectionEntry } from "astro:content";
import Heading from "@components/Heading.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
import Grid from "@components/Grid.astro";
import GridItem from "@components/GridItem.astro";

const projects = await getCollection("projects");
const formatted: CollectionEntry<"projects">[] = formatContent(projects);

const allCategories = [
  ...new Set(projects.map((project) => project.data.category).flat()),
];
---

<Layout
  title={'My Projects'}
  description="Here you can find all my projects"
>
  <Main>
  { allCategories.map((cat) => (
    <Heading className={'pt-10'}>{cat}</Heading>
    <Grid>
      { formatted.map((project) => (
      <>
      {cat == project.data.category &&
      <GridItem
        title={project.data.title}
        src={project.data.image}
        href={`/projects/${project.slug}`}
      >
        {project.data.description}
      </GridItem>
      }
      </>
      ))}
    </Grid>
    ))}
  </Main>

</Layout>

