---
import { Icon } from "astro-icon";
import { getEntryBySlug } from "astro:content";
import { Image } from "@astrojs/image/components";
import Article from "@components/Article.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Link.astro";

const { slug } = Astro.params;
const entry = await getEntryBySlug('projects', slug);
const { Content } = await entry.render();
const { title, description, date, website, stack, image } = entry.data;
---

<Layout {title} {description}>
  <div class="pt-20 mx-auto max-w-3xl">
    <h1 class="font-bold font-rubik text-4xl md:text-5xl text-center">
      {title}
    </h1>
    <div class="flex flex-col items-start justify-start mx-10 my-4 gap-2">
    <span class="inline-flex gap-1">
      <Icon name="tabler:keyboard" width="20" height="20" />
      {date}
    </span>
    <span class="inline-flex gap-1">
      <Icon name="tabler:world" width="20" height="20" />
      <Link href={website}>{website}</Link>
    </span>
    <span class="inline-flex gap-1">
      <Icon name="tabler:stack" width="20" height="20" />
      {stack.join(', ')}
    </span>
    </div>
  </div>

  <Article className="prose dark:prose-invert prose-headings:font-rubik prose-p:text-justify prose-a:underline-offset-2 hover:prose-a:text-teal-500 prose-a:decoration-teal-500 prose-img:border prose-img:border-slate-300 dark:prose-img:border-zinc-700 prose-img:rounded-xl">
    <Content />
  </Article>
  <div class="px-5">
  <Image
    src={image}
    alt={title}
    width={600}
    height={300}
    class="mx-auto rounded-xl border border-gray-500 dark:border-gray-50"
  />
  </div>
</Layout>

